<div>
    @{
       
        if (ViewBag.Movimentacao != null)
        {
            
        foreach (var item in ViewBag.Movimentacao)
        {
            <div class="timeline-item">
                <div class="row">
                    <div class="col-2 date">
                        <i class="fa fa-check-square-o"></i>
                            @item.MOVPRO_DATA_ORIGEM
                             @* <br>
                             <small class="text-navy">@item.MOVPRO_USUARIO_ORIGEM</small>*@
                    </div>
                    <div class="col-10 content no-top-border">
                            <p class="m-b-n-xxs"><small>Origem: <strong>@item.MOVPRO_SETOR_ORIGEM</strong></small></p>
                            <p class="m-b-n-xxs"><small>Destino: <strong>@item.MOVPRO_SETOR_DESTINO</strong></small></p>
                            <p class="m-b-n-xxs"><small>Ação: <strong>@item.MOVPRO_ACAO_ORIGEM</strong></small></p>                           
                    </div>
                </div>
            </div>
        }
    }

    else
    {
        <div class="timeline-item">
            <div class="row">
                <div class="col-2 date">
                    <i class="fa fa-thumbs-up"></i>
                    <br>

                </div>
                <div class="col-10 content no-top-border">
                    <p class="m-b-xs"><strong>Não existe movimentação</strong></p>
                    Sistema
                </div>
            </div>
        </div>
    }
}
</div>