@model SIPROSHARED.Models.ProtocoloModel

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">


            <div class="ibox product-detail">
                <div class="ibox-content">
                    <div class="row">              
                        <div class="col-md-8">
                            <h1> Dados da abertura do processo.</h1>
                            <hr>
                            Solicitante:
                            <h2 class="font-bold m-b-xs">
                                @Model.PRT_NOME_SOLICITANTE
                            </h2>
                           
                            <div class="m-t-md">
                                Número do Protocolo:
                                <h2 class="product-main-price"><strong> @Model.PRT_NUMERO</strong> </h2>
                            </div>
                            <hr>
                            <dl class="small m-t-md">
                            <dt>Serviço:</dt>
                                <h4> @Model.PRT_NOME_ASSUNTO</h4>                  
                                <dt>Númerto do AIT:</dt>
                                <h4>@Model.PRT_AIT</h4>
                                <dt>Origem:</dt>
                                <h4>@Model.PRT_NOME_ORIGEM</h4>
                                <dt>Condutor Apresentado:</dt>
                                <h4>@Model.PRT_NOME_CONDUTOR</h4>
                                <dt>Data da abertura:</dt>
                                <h4>@Model.PRT_DT_ABERTURA</h4>
                            </dl>
                            <hr>

                                <div class="btn-group text-right">
                          @*       <button class="btn btn-primary btn-sm" id="generatePdf"><i class="fa fa-print"></i> Imprimir Etiqueta</button> *@
                                @* <div class="btn-group text-right">
                                    <a href="/Atendimento/GeneratePdf" target="_blank" class="btn btn-primary btn-sm">
                                        <i class="fa fa-print"></i> Imprimir Etiqueta
                                    </a>
                                </div> *@

                                <button id="generatePdf" class="btn btn-primary btn-sm">
                                    <i class="fa fa-print"></i> Imprimir Etiqueta
                                </button>
                                  
                               </div>

                        </div>

                        <div class="col-sm-4 text-center">
         
                            <p class="text-center">
                                <br />
                                <br />
                                <br />
                                <br />
                                <a href=""><i class="fa fa-thumbs-up big-icon text-black-50"></i></a>
                                <h4>Protocolo gerado com sucesso!</h4>
                            </p>
                        </div>
                    </div>

                </div>
                
            </div>

        </div>
    </div>
    




</div>

@* <button class="floating-btn">+</button> *@
<a class=" floating-btn"  href="~/Home/Index">+</a>
<script>

    document.getElementById('generatePdf').addEventListener('click', function () {
 
        //Add rpt
        var rpt = "Sre_Protocolo_Etiqueta_API.rpt";
        var numero_Prt = "@Model.PRT_NUMERO"

        //Add parametros
        var paramtros = [];
        paramtros.push(numero_Prt);

        // Construir a URL com os parâmetros de consulta
        var url = '@Url.Action("EmitirRPT", "Relatorio")' + '?rpt=' + encodeURIComponent(rpt);
        paramtros.forEach(function (parametro) {
            url += '&paramtros=' + encodeURIComponent(parametro);
        });


        window.open(url, '_blank');
   
    });








</script>