 @model IEnumerable<SIPROSHARED.Models.ResultGetAitModel>
<div class="table-responsive">

    <table class="table table-striped table-hover">
        <tbody>

            
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="contact-type"><i class="fa fa-car"> </i></td>
                            <td><a href="#" class="client-link" onclick="AbirAIT('@item.rec_ait_numero')">@item.rec_ait_numero</a></td>
                            <td><a href="#" class="client-link">@item.Rec_Veiculo_Placa</a></td>
                            <td> @item.infracaodescricao</td>
                            <td>
                            <a href="#" class="btn btn-primary" id="link-@item.rec_ait_numero" onclick="AbirAIT('@item.rec_ait_numero', this)">
                                     Visualizar
                                </a>
                            </td>
                        </tr>
                    }
                }else  @if (Model == null)
                {

                
                <tr><td colspan="5"> <i class="fa fa-twitch"></i>  Realize sua busca.</td></tr>
                }
                else 
                {
                <tr><td colspan="5"> <i class="fa fa-twitch"></i> Não foi localizado registro para esse pesquisa.</td></tr>
                }
            
        </tbody>
    </table>
</div>