
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Homologação de Processos</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">

    <div class="row">
        <div class="col-sm-7">
            <div class="ibox">

                <div class="ibox-content">
                    <h3><i class="fa fa-list-ul"></i>  Lista de Processos para serem homologados </h3>
                    <small>Selecione um setor e o resultado do julgamento.</small>

                    <form id="form_buscar">
                    <div class="form-group row">

                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-md-7">
                                    <select class="select2_demo_3 form-control" style="width:100%;" id="Setor" name="Setor" required>

                                        @if (ViewBag.Setor != null)
                                        {                                           
                                            foreach (var setor in ViewBag.Setor)
                                            {
                                                <option value="@setor.SETSUB_ID">@setor.SETSUB_NOME</option>
                                            }
                                        }

                                    </select>
                                   @*  <p><small><i class="fa fa-twitch"></i> Selecione o setor para o qual deseja relaizar.</small></p> *@

                                </div>
                           
                                <div class="col-md-5">                     
                                    <select class="select2_demo_3 form-control" style="width:100%;" id="resultado" name="resultado" required>

                                        <option value="Todos">Todos</option>

                                        <option value="D">Deferido</option>
                                        <option value="I">Indeferido</option>
                                        <option value="N">Advertência</option>

                                    </select>
                       @*              <p><small> <i class="fa fa-twitch"></i> Selecione o resultado do julgamento.</small></p> *@
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">

                                <span class="input-group-append">
                                    <button type="button" class="btn btn-primary" id="btmLocalizarProtocolo"> <i class="fa fa-search"></i> Localizar</button>                               
                                </span>
                            </div>
                        </div>
                       

                    </div>
                    </form>
                    <div class="clients-list">
                        <div class="full-height-scroll">
                            <div id="div_listaHomologacao">
                                @await Html.PartialAsync("_ListaHomologacao")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5">

            <div class="tabs-container">

                <ul class="nav nav-tabs">
                    <li><a class="nav-link active show" data-toggle="tab" href="#tab-1">Dados do Julgamento </a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tab-2">Dados do Processo</a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tab-3"> Dados da Notificação</a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tab-4"> Anexos</a></li>
                </ul>

      

                <div class="tab-content">
                   <div id="tab-1" class="tab-pane active show"> 
                        <div class="panel-body">
                            <div class="client-detail">
                                <div class="full-height-scroll">                        
                                    <div id="div_ParecerRelator">
                                          @await Html.PartialAsync("_ParecerRelator")
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <div class="client-detail">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <h2>Dados do Processo:</h2>
                                    </div>
                                    <div class="col-sm-2">
                                       
                                    </div>
                                </div>
                                <div class="full-height-scroll">
                                    <div id="div_Homologacao">
                                        @await Html.PartialAsync("_DetalhamentoProtocolo")
                                    </div>
                                    <br />
                                    <br />
                                    <button class="btn btn-sm btn-primary  btn-block float-right" onclick="EmitirCopia()" id="btnIniciarAbertura" type="button">
                                        <i class="fa fa-print"></i> Cópia de Processo
                                    </button>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <div class="client-detail">
                                <strong>Dados da Notificação de Autuação</strong>
                                <div class="full-height-scroll">
                                    <div id="div_notificacao">
                                        @await Html.PartialAsync("_DetalhamentoAIT")
                                     
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>

                    <div id="tab-4" class="tab-pane">
                        <div class="panel-body">
                            <div class="client-detail">

                                <strong>Lista de anexo do processo</strong>
                                <div class="full-height-scroll">
                                    <div id="div_anexo">
                                        @await Html.PartialAsync("_Anexos")

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>



@*Modal*@
<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-share-square-o modal-icon"></i>
                <h4 class="modal-title">Devolução de Processo</h4>
                <small class="font-bold">Encamimhar processo para ser retificado.</small>
            </div>


            <div class="modal-body">

                <form id="form_distribuicao">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label text-right">Processo:</label>
                        <div class="col-lg-9"><input type="text" class="form-control" id="PRT_NUMERO_R" readonly></div>
                        <input type="hidden" class="form-control" id="MOVPRO_ID" />
                    </div>
                  
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label text-right">Motivo:</label>
                        <div class="col-lg-9"><textarea name="MOVPRO_PARECER_ORIGEM_R" id="MOVPRO_PARECER_ORIGEM_R" rows="5" cols="40" class="form-control" placeholder="Digite sua mensagem aqui..."></textarea></div>
                    </div>
                   
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="btnDevolver">Devolver Processo</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<!-- blueimp gallery -->
<script src="~/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
<script>

    // document.getElementById("Setor").addEventListener("change", function () {

    //         alert("Você selecionou: " + this.options[this.selectedIndex].text);
        
    // });



    function LocalizarProtocolo(Setor, Resultado) {
        $.ajax({
            url: '@Url.Action("ListaHomologar", "Homologacao")',
            datatype: 'html',
            contentType: "application/html; charset=utf-8",
            type: "GET",
            data: { setor: Setor, resultado: Resultado }, // Corrigido '=' para ':'
            success: function (result) {
                $('#div_listaHomologacao').html(result);
                AbrirHomologacao("/", "");
                TabIndex();
            },
            error: function (xhr, status, error) {
                Notiflix.Notify.Failure("Erro na busca do protocolo");
            }
        });
    }


    function TabIndex() {
        // Remove active class from all tabs
        document.querySelectorAll('.nav-link').forEach(function (tab) {
            tab.classList.remove('active', 'show');
        });
        document.querySelectorAll('.tab-pane').forEach(function (pane) {
            pane.classList.remove('active', 'show');
        });

        // Add active class to tab 1
        document.querySelector('.nav-link[href="#tab-1"]').classList.add('active', 'show');
        document.getElementById('tab-1').classList.add('active', 'show');
    }


    $('#btmLocalizarProtocolo').click(function (event) {
        var Setor = $('#Setor').val();
        var Resultado = $('#resultado').val();

        event.preventDefault();
        LocalizarProtocolo(Setor, Resultado);
    });


    $('#Vlo_Busca').on('input', function () {
        var searchTerm = $(this).val();
        if (searchTerm === '') {
            LocalizarProtocolo("Todos"); // Busca todos os resultados
        }
    });

    async function fetchAndUpdate(url, elementId) {
        try {
            console.log(`Fetching: ${url}`);
            const response = await fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'text/html; charset=utf-8'
                }
            });

            if (!response.ok) {
                throw new Error('Erro na requisição: ' + response.statusText);
            }

            const result = await response.text();
            const element = document.getElementById(elementId);
            if (element) {
                element.innerHTML = result;
            } else {
                Notiflix.Notify.Failure("Erro na busca do protocolo");
            }

        } catch (error) {
            Notiflix.Notify.Failure("Erro na busca do protocolo");
        }
    }


    async function AbrirHomologacao(_prt_numero, _ait) {
        
        const urls = [
            { url: '@Url.Action("HomologacaoDetalhe", "Homologacao")' + '?prt_numero=' + encodeURIComponent(_prt_numero), elementId: 'div_Homologacao' },
            { url: '@Url.Action("BuscarParecer", "Homologacao")' + '?prt_numero=' + encodeURIComponent(_prt_numero), elementId: 'div_ParecerRelator' },
            { url: '@Url.Action("DetalheAIT", "Homologacao")' + '?ait=' + encodeURIComponent(_ait), elementId: 'div_notificacao' },
            { url: '@Url.Action("BuscarAnexoBanco", "Homologacao")' + '?prt_numero=' + encodeURIComponent(_prt_numero), elementId: 'div_anexo' }
        ];
        await Promise.all(urls.map(({ url, elementId }) => fetchAndUpdate(url, elementId)));

        TabIndex();
        Notiflix.Loading.Remove();

    }

    let isProcessing = false; // Variável de controle para evitar múltiplos cliques

    $(document).on('click', '#btn_homologacao', function () {
      
        var formData = $("#form_homologacao").serialize();

        var prt_numero = $('#MovPro_Prt_Numero').val();

        Notiflix.Confirm.Show(
            'Aviso!',
            'Tem certeza que deseja homologar esse processo: ' + prt_numero +' ? ',
            'Sim',
            'Não',
            async function okCb() {

                if (isProcessing) return; // Impede execução se já estiver em andamento
                isProcessing = true; // Marca como em processamento

                Notiflix.Loading.Standard('Aguarde...');

                $.ajax({
                    url: '@Url.Action("RealizarHomologacao", "Homologacao")',
                    type: 'POST',
                    data: formData,
                    success: function (response) {

                        Notiflix.Loading.Remove();
                        if (response.error == 'BadRequest') {
                            Notiflix.Notify.Failure(response.message);
                            return false;
                        };

                        AbrirHomologacao("pr0/000", "a00000");

                        Notiflix.Notify.Success("Homologação realizada com sucesso!");
                        $('#div_listaHomologacao').html(response);
                    },
                    error: function (xhr, status, error) {
                        Notiflix.Loading.Remove();
                        Notiflix.Notify.Failure("Erro interno!");
                    }
                });
            },
            function cancelCb() {
                Notiflix.Loading.Remove();
            },
            {
                // Configurações adicionais (opcional)
            }
        );

    });

    $(document).on('click', '#btn_homologacao_todos', function () {

        var formData = $("#form_buscar").serialize();

        Notiflix.Confirm.Show(
            'Aviso!',
            'Tem certeza que deseja homologar todos os processos?',
            'Sim',
            'Não',
            async function okCb() {
                if (isProcessing) return;
                isProcessing = true;

                Notiflix.Loading.Standard('Aguarde...');

                $.ajax({
                    url: '@Url.Action("HomologarTodos", "Homologacao")',
                    type: 'POST',
                    data: formData,

                    success: function (response) {

                        Notiflix.Loading.Remove();
                        if (response.error == 'BadRequest') {
                            Notiflix.Notify.Failure(response.message);
                            return false;
                        };

                        AbrirHomologacao("pr0/000", "a00000");
                        Notiflix.Notify.Success("Homologação realizada com sucesso!");
                        $('#div_listaHomologacao').html(response);
                    },
                    error: function (xhr, status, error) {
                        Notiflix.Loading.Remove();
                        Notiflix.Notify.Failure("Erro interno!");
                    }
                });
            },
            function cancelCb() {
                Notiflix.Loading.Remove();
            }
        );


    });

    $(document).on('click', '#btn_retificar', function () {


        $('#myModal').modal('show');
        $('#PRT_NUMERO_R').val($('#PRT_NUMERO').val());
    
        

    });
    
    $(document).on('click', '#btnDevolver', function () {
        
        $('#myModal').modal('hide');
        $('#MovPro_Parecer_Origem').val($('#MOVPRO_PARECER_ORIGEM_R').val());

        var formData = $("#form_homologacao").serialize();

        Notiflix.Confirm.Show(
            'Aviso!',
            'Tem certeza que deseja devolver esse processo?',
            'Sim',
            'Não',
            async function okCb() {

                if (isProcessing) return; // Impede execução se já estiver em andamento
                isProcessing = true; // Marca como em processamento
                Notiflix.Loading.Standard('Aguarde...');

                $.ajax({
                    url: '@Url.Action("RetificarVoto", "Homologacao")',
                    type: 'POST',
                    data: formData,
                    success: function (response) {

                        Notiflix.Loading.Remove();
                        if (response.error == 'BadRequest') {
                            Notiflix.Notify.Failure(response.message);
                            return false;
                        };

                        AbrirHomologacao("pr0/000", "a00000");

                        Notiflix.Notify.Success("Operação realizada com sucesso!");
                        $('#div_listaHomologacao').html(response);
                    },
                    error: function (xhr, status, error) {
                        Notiflix.Loading.Remove();
                        Notiflix.Notify.Failure("Erro interno!");
                    }
                });
            },
            function cancelCb() {
                Notiflix.Loading.Remove();
            },
            {
                // Configurações adicionais (opcional)
            }
        );


    });

    

</script>
