
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Homologação de Processos</h2>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">

    <div class="row">
        <div class="col-sm-7">
            <div class="ibox">

                <div class="ibox-content">
                    <h3><i class="fa fa-list-ul"></i>  Lista de Processos para serem homologados </h3>
                    <small>Selecione um setor e o resultado do julgamento.</small>

                    <div class="form-group row">

                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-md-7">
                                    <select class="select2_demo_3 form-control" style="width:100%;" id="Setor" name="Setor" required>

                                        @if (ViewBag.Setor != null)
                                        {                                           
                                            foreach (var setor in ViewBag.Setor)
                                            {
                                                <option value="@setor.SETSUB_ID">@setor.SETSUB_NOME</option>
                                            }
                                        }

                                    </select>
                                   @*  <p><small><i class="fa fa-twitch"></i> Selecione o setor para o qual deseja relaizar.</small></p> *@

                                </div>
                           
                                <div class="col-md-5">                     
                                    <select class="select2_demo_3 form-control" style="width:100%;" id="resultado" name="resultado" required>

                                        <option value="Todos">Todos</option>

                                        <option value="D">Deferido</option>
                                        <option value="I">Indeferido</option>
                                        <option value="N">Advertência</option>

                                    </select>
                       @*              <p><small> <i class="fa fa-twitch"></i> Selecione o resultado do julgamento.</small></p> *@
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">

                                <span class="input-group-append">
                                    <button type="button" class="btn btn btn-primary" id="btmLocalizarProtocolo"> <i class="fa fa-search"></i> Localizar</button>
                                </span>
                            </div>
                        </div>

                    </div>

                    <div class="clients-list">
                        <div class="full-height-scroll">
                            <div id="div_listaHomologacao">
                                @await Html.PartialAsync("_ListaHomologacao")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5">

            <div class="tabs-container">

                <ul class="nav nav-tabs">
                    <li><a class="nav-link active show" data-toggle="tab" href="#tab-1">Dados do Julgamento </a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tab-2">Dados do Processo</a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tab-3"> Dados da Notificação</a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#tab-4"> Anexos</a></li>
                </ul>

      

                <div class="tab-content">
                        <div id="tab-1" class="tab-pane active show"> 
                        <div class="panel-body">
                            <div class="client-detail">
                                <strong>Dados do julgamento</strong>
                                <div class="full-height-scroll">
                                    <div id="div_ParecerRelator">
                                          @await Html.PartialAsync("_ParecerRelator")
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <div class="client-detail">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <strong>Informações complementares</strong>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-sm btn-outline btn-primary float-right" onclick="EmitirCopia()" id="btnIniciarAbertura" type="button">
                                            <i class="fa fa-print"></i> Cópia de Processo
                                        </button>
                                    </div>
                                </div>
                                <div class="full-height-scroll">
                                    <div id="div_Homologacao">
                                        @await Html.PartialAsync("_DetalhamentoProtocolo")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <div class="client-detail">
                                <strong>Dados da Notificação de Autuação</strong>
                                <div class="full-height-scroll">
                                    <div id="div_notificacao">
                                        @await Html.PartialAsync("_DetalhamentoAIT")
                                     
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>

                    <div id="tab-4" class="tab-pane">
                        <div class="panel-body">
                            <div class="client-detail">

                                <strong>Lista de anexo do processo</strong>
                                <div class="full-height-scroll">
                                    <div id="div_anexo">
                                        @await Html.PartialAsync("_Anexos")

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                  

                    

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<!-- blueimp gallery -->
<script src="~/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
<script>

    // document.getElementById("Setor").addEventListener("change", function () {

    //         alert("Você selecionou: " + this.options[this.selectedIndex].text);
        
    // });



    function LocalizarProtocolo(Setor, Resultado) {
        $.ajax({
            url: '@Url.Action("BuscarProtocolo", "Homologacao")',
            datatype: 'html',
            contentType: "application/html; charset=utf-8",
            type: "GET",
            data: { setor: Setor, resultado: Resultado }, // Corrigido '=' para ':'
            success: function (result) {
                $('#div_listaHomologacao').html(result);
            },
            error: function (xhr, status, error) {
                console.error("Erro na busca do protocolo:", error);
            }
        });
    }

    $('#btmLocalizarProtocolo').click(function (event) {
        var Setor = $('#Setor').val();
        var Resultado = $('#resultado').val();

        event.preventDefault();
        LocalizarProtocolo(Setor, Resultado);
    });

    $('#Vlo_Busca').on('input', function () {
        var searchTerm = $(this).val();
        if (searchTerm === '') {
            LocalizarProtocolo("Todos"); // Busca todos os resultados
        }
    });

    async function fetchAndUpdate(url, elementId) {
        try {
            console.log(`Fetching: ${url}`);
            const response = await fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'text/html; charset=utf-8'
                }
            });

            if (!response.ok) {
                throw new Error('Erro na requisição: ' + response.statusText);
            }

            const result = await response.text();
            const element = document.getElementById(elementId);
            if (element) {
                element.innerHTML = result;
            } else {
                console.warn(`Elemento com ID "${elementId}" não encontrado.`);
            }

        } catch (error) {
            console.error(`Erro ao buscar e atualizar ${elementId}:`, error);
        }
    }


    async function AbrirHomologacao(_movpro_id, _prt_numero, _ait) {
        
        const urls = [
            { url: '@Url.Action("HomologacaoDetalhe", "Homologacao")' + '?movpro_id=' + encodeURIComponent(_movpro_id), elementId: 'div_Homologacao' },
            { url: '@Url.Action("BuscarParecer", "Homologacao")' + '?prt_numero=' + encodeURIComponent(_prt_numero), elementId: 'div_ParecerRelator' },
            { url: '@Url.Action("DetalheAIT", "Homologacao")' + '?ait=' + encodeURIComponent(_ait), elementId: 'div_notificacao' },
            { url: '@Url.Action("BuscarAnexoBanco", "Homologacao")' + '?prt_numero=' + encodeURIComponent(_prt_numero), elementId: 'div_anexo' }
        ];
        await Promise.all(urls.map(({ url, elementId }) => fetchAndUpdate(url, elementId)));


    }

    



</script>
